
  .cabecalho-tabela-um {
  background-color:#bb86fc;
  color: #fff;
}

 .cabecalho-tabela-dois {
   background-color: #00c4b4;
   color: #fff;
 }

 .tabela-fundo {
  background-color: #424250;
  color: #fff;
 }